<div class="card">
    <div class="card-header">
        <h1>Funadas no fansub</h1>
    </div>
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="card-body form-container">
            <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="email.invalid">
                    ¡Introduce un correo electrónico válido!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="password.invalid">
                    ¡Introduce una contraseña con al menos 8 caracteres!
                </mat-error>
            </mat-form-field>
            <div class="link-container">
                <span>¿No tienes cuenta? <a routerLink="/auth/register" class="link">Crear una cuenta</a></span>
            </div>
            <div class="link-container">
                <span>¿Olvidaste tu contraseña? <a routerLink="/auth/recover" class="link">Recuperar mi contraseña</a></span>
            </div>
        </div>
        <div class="card-footer">
            <button mat-button color="primary" type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
        </div>
    </form>
</div>