<form [formGroup]="termsForm" (submit)="submit()">
    <mat-form-field style="width: 100%;">
        <mat-label>
            Fecha de los términos
        </mat-label>
        <input type="text" matInput formControlName="date">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>
            Contenido
        </mat-label>
        <textarea matInput rows="10" style="width: 100%;" formControlName="content"></textarea>
    </mat-form-field>
    <div style="display: flex; width: 100%; justify-content: space-between;">
        <button mat-raised-button type="button">
            Cancelar
        </button>
        <button mat-raised-button color="primary" type="submit">
            Subir Actualización
        </button>
    </div>
</form>