<div>
    <ul>
        <li *ngFor="let item of menuItems">
            <a class="link" [routerLink]="[item.url]" (click)="close()" style="text-transform: capitalize;">
                {{item.name}}
            </a>
        </li>
        <li>
            <div style="display: flex; align-items: center;" (click)="close()">
                <mat-icon class="back_arrow">arrow_back</mat-icon>
                <p style="margin: 0; font-size: 1.2rem; color: #1976d2; font-weight: bold; cursor: pointer;">Regresar
                </p>
            </div>
        </li>
        <li>
            <p class="link" (click)="signOut()">
                Cerrar sesión
            </p>
        </li>
        
    </ul>
</div>