.back_arrow{
  transition: .5s;
  font-weight: bold;
  color: #1976d2;
}

.back_arrow{
  cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
  padding: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.3rem;
  transition: .5s;
}

li:hover{
  cursor: pointer;
}