@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin: 0;
    padding: 0;
}

.viewport{
    width: 100vw;
    height: 100vh;
}

.flex-display{
    display: flex;
}

.center-content{
    justify-content: center;
    align-items: center;
}

.card{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.card-header{
    border-bottom: 1px solid black;
}

.card-body{
    border-bottom: 1px solid black;
}

.card-footer{
    padding: .5rem;
}

.form-container{
    width: 100%;
    padding-top: 1rem;
}

.link{
    text-decoration: none;
    color: #1976d2;
}

.link-container{
    margin-bottom: 5px;
}